html {font-size: 100%;
} /*16px*/
main {
  min-height: 80vh;
}

body strong  {
  font-family: 'Poppins', sans-serif;
}

.rating span{
  margin: 0.1rem;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}


/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: sticky;
  top: 0;
}

.carousel-caption h5 {
  color: rgb(0, 0, 0);
}

.carousel img {
  max-height: 300px;
  padding: 00px;
  margin: 30px;
  max-width: 90vw;
  border-radius: 10%;
  margin: auto;

}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

html {

  scroll-behavior: auto !important;

}

#lblCartCount {
  font-size: 12px;
  /* background: #ff0000; */
  color: rgba(255, 255, 255, 0.452);
  padding: 0 10px;
  vertical-align: top;
  margin-left: -10px;
}

.main-color {
  background-color: rgba(75, 148, 184, 1) !important
}

.secondary-color {
  background-color: #f3a847 !important
}

.black-color {
  background-color:rgba(33, 82, 107, 1) !important
}

.main-color-in {
  color: rgba(75, 148, 184, 1) !important
}

.secondary-color-in {
  color: #f3a847!important ; 

}

.black-color-in {
  color:rgba(33, 82, 107, 1) !important;

}

.main-color-border {
  border-color: rgba(75, 148, 184, 1)  !important;
}

.secondary-color-border {
  border-color:  #f3a847 !important;

}

.black-color-border {

  border-color:  rgba(33, 82, 107, 1) !important;
}


input:focus {
  box-shadow: 0 0 0px  !important;
  border: 1px solid rgba(81, 204, 238, 0) !important;
}

