/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

html {font-size: 100% !important;
} /*16px*/
main {
  min-height: 80vh;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden; 
 /* be careful */
}

body strong  {
  font-family: 'Poppins', sans-serif;
}

.popping-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.rating span{
  margin: 0.1rem;
}


p {margin-bottom: 1rem ;
font-size: 1rem !important}

@media only screen and (max-width: 400px) {
  p {
      font-size: 0.9rem !important
  }
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem !important;
}

h2 {font-size: 2.074rem !important;}

h3 {font-size: 1.728rem !important;}

h4 {font-size: 1.44rem !important;}

h5 {font-size: 1.2rem !important;}


/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: sticky;
  top: 0;
}

.carousel-caption h5 {
  color: rgb(0, 0, 0);
}

.carousel img {
  max-height: 300px;
  padding: 20px 0px 0px 0px;
  margin: 30px;
  max-width: 90vw;
  border-radius: 5%;
  margin: auto;

}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

html {

  scroll-behavior: auto !important;

}

#lblCartCount {
  font-size: 12px;
  /* background: #ff0000; */
  color: rgba(255, 255, 255, 0.452);
  padding: 0 10px;
  vertical-align: top;
  margin-left: -10px;
}

.MainCarousel {
    border-bottom: 1px solid rgba(75, 148, 184, 1) !important;
}

.carousel-indicators {
  margin-bottom: 30px !important;
}

.main-color  {
  background-color: rgba(75, 148, 184, 1) !important
}
.underline {
text-decoration:underline !important ;
}

.secondary-color {
  background-color: #f3a847 !important
}

.black-color {
  background-color:rgba(33, 82, 107, 1) !important
}

.main-color-in {
  color: rgba(75, 148, 184, 1) !important
}

.secondary-color-in {
  color: #f3a847!important ; 

}

.black-color-in {
  color:rgba(33, 82, 107, 1) !important;

}

.main-color-border {
  border-color: rgba(75, 148, 184, 1)  !important;
}

.secondary-color-border {
  border-color:  #f3a847 !important;

}

.black-color-border {

  border-color:  rgba(33, 82, 107, 1) !important;
}
input:focus {
  box-shadow: 0 0 0px  !important;
  border: 1px solid rgba(81, 204, 238, 0) !important;
}
/* fix the bootstrap container width being too small */
@media only screen and (min-width: 1700px) {
  .container {
  max-width: 1600px
  }
}

@media only screen and (min-width: 700px) {
  .description-container {
  min-width: 600px;
  display: block;
  }
}

@media only screen and (max-width: 700px) {
  .description-container {
  min-width: 100%;
  display: block;
  }
}

@media only screen and (max-width: 1400px) {
  .description-container {
  min-width: 100%;
  order:3
  }
}

@media only screen and (min-width: 700px) {
  .review-container {
  min-width: 600px;
  display: block;
  }
}

@media only screen and (min-width: 600px) {
  .checkout-container {
min-width: 400px;
  }
}

@media only screen and (max-width: 1400px) {
  .cart-container {

  order: 2;
  flex-basis: 100%
  }
}

@media only screen and (max-width: 770px) {
  .cart-items {
display:flex !important;
flex-direction:  column;


  }
}


@media only screen and (max-width: 770px) {
  .cart-items > div{

padding-bottom: 20px;
  }
}


@media only screen and (max-width: 770px) {
  .cart-trash{
display: flex;
justify-content: flex-end;
  }
}


@media only screen and (min-width: 1400px) {
  .cart-subtotal{
  position: fixed;
right:20px;

  }
}

.grey-out {
opacity: 50%;
  filter: grayscale(40%);
  pointer-events: none;
}

.button-1 {
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  transition: 0.3s !important;
  color: #fff;
  opacity:  80%;

}


.button-1:hover{
opacity: 100%;
}

.box-shadow{
  box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
}


/* From uiverse.io */
.pay-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color:rgba(33, 82, 107, 1) ;
  border: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.pay-button:hover {
  /* background-color: #68c29e; */
  box-shadow: 0px 5px 5px rgba(27, 133, 90, 0.884);
  color: rgba(33, 82, 107, 1) ;
  transform: translateY(-4px);
}

.pay-button:active {
  transform: translateY(-1px);
}



.custom-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  color: rgba(75, 148, 184, 1) !important
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 50px;
  
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(75, 148, 184, 0.4);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  text-transform: capitalize ;
  background-color:rgb(21, 51, 66) ;
  font-weight: normal !important;
  color:whitesmoke
 
}
.btn:hover{
  background-color:rgb(33, 80, 104);
  color:#68c29e
}

.btn:focus{
  background-color:rgb(33, 80, 104);
  color:whitesmoke
}

.btn-sm {
  text-transform: capitalize ;
  background-color:rgb(21, 51, 66) ;
  font-weight: normal !important;
  color:whitesmoke
 
}
.btn-sm:hover{
  background-color:rgb(33, 80, 104);
  color:#68c29e
}

.btn-sm:focus{
  background-color:rgb(33, 80, 104);
  color:whitesmoke
}


#trashButton {
  background-color: white ;
  transition: 0.5s;
}

#trashButton:hover {
  background-color: rgba(228, 228, 228, 0.849) !important;
}

.trashButton:hover {
  color: rgb(202, 118, 118) !important;
}


.address-container{
  display:flex;
  padding-top: 50px;
  flex-wrap: wrap;
  gap: 30px 30px; 
} 

.address-item{
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 350px;
  display: flex;
  padding: 10px 20px 10px 20px ; 
  flex-direction: column;
  justify-content: space-between;
}

.address-item > *:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px ;
}

.address-hover-effect:hover{
  box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px rgba(255, 255, 255, 0.8);
}

.box-shadow-2{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.place-order-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.place-order-left{
  min-width: 350px;
  max-width: 66%;
}
.place-order-right{
  min-width:375px ;
}

@media only screen and (max-width: 1200px) {
  .place-order-left{
  order: 1;
  max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .place-order-right{
  min-width:  350px;
  }
}

.placeorder-img{
  max-width: 100px;
}

.place-order-items-container{
  display:flex;
padding-bottom: 40px;

}
.place-order-items-container >*{
  padding-right: 10px;
}

.placeorder-img-container{
  min-width: 100px;
  
}

@media only screen and (max-width: 600px) {
  .place-order-items-container{

    font-size: smaller;
  }
}

.order-screen-container{
  display:flex;
  flex-wrap: wrap;
justify-content: space-around;
}

.order-screen-left{
  display:flex;
  max-width: 66%;
  min-width: 350px;

}

.order-screen-right{
  min-width: 350px;
  display:flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .order-screen-left{
  order: 1;
  max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .order-screen-right{
   width:fit-content
  }
}

@media only screen and (max-width: 800px) {
  .small-screen-small-font{
   font-size: x-large !important;
  }
}

.profile-left{
min-width: 350px
}

.form-container{
  max-width: 400px;

}


.tooltiptrash {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltiptrash .left {
  min-width:100px; 
  max-width:100px;
  top:50%;
  right:100%;
  margin-right:20px;
  transform:translate(0, -30%);
  padding:10px 20px;
  color:#444444;
  background-color:#eeeeee;
  font-weight:normal;
  font-size:10px;
  border-radius:1px;
  position:absolute;
text-decoration: none;
text-transform: lowercase !important;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltiptrash:hover .left {
  display:block;
  text-transform: lowercase !important;
}

.tooltiptrash .left i {
  position:absolute;
  top:30%;
  left:100%;
  margin-top:-10px;
  width:10px;
  height:20px;
  overflow:hidden;
  text-transform: lowercase !important;
}

.tooltiptrash .left i::after {
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  left:0;
  top:50%;
  text-transform: lowercase !important;
  transform:translate(-50%,-50%) rotate(-45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 0.7s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}


@media only screen and (max-width: 767px) {
  .card{
    padding:0 !important;
    width: 80vw !important;
  }
}

.bottom-message{
display: flex;
  bottom: 100px;
  justify-content: center;
  padding-top: 250px;

}